<div class="row">
    <div class="col-md-6 mx-auto">
        <form action="/users/login" method="POST">
            <div class="card card-body border-primary">
                <h3 class="text-center">Account Login</h3>
                <div class="divider"></div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" value="{{username}}" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary form-control">Login</button>
                </div>

            </div>
            <div class="card card-footer border-primary">
                <a href="/users/register" class="card-text text-center text-primary ">I don't have an account</a>
            </div>
        </form>
    </div>
</div>